@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    margin: 0;
    font-size: 90%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-image: url('../assets/img/blur.svg');
    font-family: 'Poppins, sans-serif';
    box-sizing: border-box;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*-----------body------------*/

body {
    margin: 0;
    border: 0;
    padding: 0;
    background-image: url(../assets/img/blur.svg);
    background-size: cover;
    background-color: rgb(2, 2, 2);
    font-family: Poppins;
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
    color: aliceblue;
}

button {
    background-color: transparent;
    color: aliceblue;
    font-size: 0.99rem;
    pointer-events: visible;
    border: none;
    cursor: pointer;
}

#informations {
    margin-left: 13%;
    padding: 0 1.75%;
    height: auto;
    box-sizing: border-box;
}

/* Começo do menu dropdown */
.dropbtn {
    background-color: #4caf4f00;
    color: rgba(255, 255, 255, 0);
    padding: 10px;
    font-size: 16px;
    border: none;
    float: right;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 200;
    background-color: #f9f9f96c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.842);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(137, 235, 58)
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e4100;
    position: relative;
    top: 10;
}

/* Fim do dropdown */

/*-----------body------------*/

/* barra de rolagem, scroll */

::-webkit-scrollbar {
    background-color: #e1666600;
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(250, 250, 250, 0);
}


::-webkit-scrollbar-thumb {
    background-color: #ACFFC3;

}



/*menu de opçoes lateral */
#content {
    height: 100vh;
    width: 12%;
    display: flex;
    flex-direction: column;
    border-right: 3px solid #A8D5A7;
    float: left;
    background-color: black;
    /* background: linear-gradient(180deg, #ACFFC3 0%, rgba(131, 187, 144, 0.38) 0.01%, rgba(22, 9, 9, 0) 100%),linear-gradient(0deg, #000000, #000000); */
    position: fixed;
}

#options {
    overflow: auto;
    height: 80vh;
}

#logoName {
    width: 30%;
    padding: 20px 0px 10px 0;
    margin-left: auto;
    margin-right: auto;
}

.font_tamanho {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
}

.item {
    padding: 15px 0 16px 0px;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
    align-items: stretch;
    color: white;
}

.item_color {
    color: #ffffff;
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.8));
}

hr {
    border: none;
    background-color: #A8D5A7;
    height: 2px;
    width: 100%;
}

.item img {
    width: 20px;
}

.item-img {
    width: 20px;
}

#logout {
    text-align: center;
}

#logout img {
    padding: 10px 0 10px 0;
    width: 40px;
    cursor: pointer;
}

/*  /menu de opçoes lateral */

/* ---header----*/
.header {
    padding: 20px 0.75% 0px 4.75%;
    max-width: 90%;
    margin-bottom: 30px;
}

.header img {
    width: 35px;
    margin-right: 10px;
}

.header strong {
    font-size: 35px;
    color: white;
    position: absolute;
}

#repError {
    background-color: transparent;
    border: 2px #E16666 solid;
    border-radius: 8px;
    padding: 0.7% 1.4%;
    color: white;
    cursor: pointer;
    float: right;
    margin-top: 20px;
}

#user {
    float: right;
    display: flex;
    width: 140px;
    padding-left: 20px;
}

/* --- /header----*/

/*Container de informações*/

.container-boxes {
    width: 100%;
    margin: auto;
    padding-top: 70px;
}

.aux-container-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    /* background: linear-gradient(133.84deg, #4E4E4E -16.04%, #333333 9.33%, #1A1A1A 32.02%, #1A1A1A 62.06%, #262626 87.42%, #4E4E4E 112.12%); */
    border: 3px solid #ACFFC3;
    border-radius: 16px;
    box-shadow: 2px 6px 15px 2px rgba(12, 10, 11, 0.8);
    margin: 20px;
    background-color: black;
}
.bottom {
    margin-top: 5px;
    padding: 7px 0px 7px 14px;
    width: 256px;
    border-bottom: 1px solid #fdfdfd;
    text-transform: uppercase;
}
#caixa {
    width: 270px;
    height: 200px;
    display: flex;
    box-shadow: 2px 6px 15px 2px rgba(12, 10, 11, 0, 8);
}

.icone {
    color: white;
    text-align: center;
}

.icone i {
    color: rgba(255, 126, 120, 0.8);
    filter: drop-shadow(0px 0px 15px rgba(255, 126, 120, 0.8));
}

#iconeTwo i {
    color: rgba(244, 219, 87, 0.8);
    filter: drop-shadow(0px 0px 15px rgba(244, 219, 87, 0.8));
}

.critico {
    color: rgba(255, 126, 120, 0.8);
    filter: drop-shadow(0px 0px 15px rgba(255, 126, 120, 0.8));
}

.alerta {
    color: rgba(244, 219, 87, 0.8);
    filter: drop-shadow(0px 0px 15px rgba(244, 219, 87, 0.8));
}

.ok {
    color: rgba(56, 224, 174, 0.8);
    filter: drop-shadow(0px 0px 15px rgba(56, 224, 174, 0.8));
}

.boxContent {
    max-width: 95%;
    margin: 0 auto;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
}

.boxContent strong {
    color: white;
    padding-right: 150px;
}

.icon {
    width: 50px;
    height: 50px;
    padding-top: 15px;
    float: right;
}

.info_caixas p {
    font-weight: 800;
    font-size: 20px;
    position: static;
    text-align: center;
    text-transform: uppercase;
}

footer {
    height: 40px;
    width: 100%;
}

.modal {
    border-radius: 30px;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    position: relative;
    width: 600px;
    margin: auto;
    text-align: center;
    padding: 0;
    border-radius: 60px;
    background-color: #29362d;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Botão de fechar o popup */

.formulario-cadastro form input {
    border: 0;
    background: none;
    display: flex;
    font-size: 1.1rem;
    margin: 7px;
    border-bottom: 1px solid #000000;
    padding: 10px 0px;
    width: 300px;
    margin: 0 auto;
    outline: none;
    color: rgb(255, 255, 255);
    transition: 0.25s;
    text-align: flex-start;
    align-items: center;
}

.button-confirm {
    border: 0;
    background-color: #5fc951;
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    padding: 14px 10px;
    width: 150px;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
}

.button-confirm:hover {
    background-color: #3d7737;
    border-color: #3d7737;
}

 ::-webkit-input-placeholder {
    color: black;
}

.close {
    color: white;
    float: right;
    font-size: 15px;
    font-weight: normal;
    margin-top: 5px;
    display: flex;
    width: 300px;
    right: 24%;
    position: relative;
    justify-content: center;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 1px 0px;
    color: white;
    border-radius: 75px;
}

.modal-body {
    padding: 2px 16px;
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins';
    height: 410px;
    background: radial-gradient(112.52% 123.86% at 12.55% 86.48%, rgba(172, 255, 195, 0.26) 8.23%, rgba(172, 255, 195, 0) 76.21%, rgba(255, 255, 255, 0.05) 100%);
    color: white;
    border-radius: 66px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 60px;
    -webkit-box-shadow: inset 0 0 20px #000;
    -moz-box-shadow: inset 0 0 20px #000;
    -ms-box-shadow: inset 0 0 20px #000;
    box-shadow: inset 0 0 20px #000;
}
/* .modal-footer {
    padding: 10px 16px;
    background-color: #5cb85c;
    color: white;
    border-radius: 20px;
} */

.titulos {
    color: rgb(172, 255, 195);
    font-size: 2.9rem;
    padding: 0;
    margin: 10px;
}

input .inputs_group {
    border: 0;
    background: none;
    display: block;
    font-size: 1.1rem;
    margin: 7px;
    border-bottom: 1px solid #f5f7f8;
    padding: 10px 0px;
    width: 300px;
    outline: none;
    color: white;
    transition: 0.25s;
}

input::placeholder {
    color: white;
}

input:focus {
    width: 320px;
    border-color: rgb(102, 230, 159);
}

section {
    display: flex;
    flex-direction: row;
}

section.cover_side_pic {
    width: 5vw;
    height: 100vh;
    background-image: url(../assets/img/framecaixaform);
    -webkit-filter: grayscale(50%);
    background-size: cover;
    background-repeat: no-repeat;
}

section.form_side {
    width: 100%;
    display: flex;
    margin-top: 30px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

section.form_side .container {
    margin-top: -80PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    color: white;
}

section.form_side .container .brand {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fade_in 1000ms;
}

section.form_side .container .brand img {
    width: 18%;
}

section.form_side .container .brand p {
    font-family: 'Montserrat, sans-serif';
    font-size: 2.7em;
    margin: 15px 0px 10px 0px;
}

section.form_side .container #message {
    /* margin-inline-start: 0;
    margin-block-end: 0; */
    margin-top: -10px;
    font-size: 1.4em;
    text-align: start;
    /* margin-top: 10px; */
    color: rgba(255, 253, 253, 0.918);
    animation: fade_in 2000ms;
    /* margin-bottom: 50px; */
}

section.form_side .container img{
    cursor: pointer;
}

section.form_side .container .inputs_group {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
}

section.form_side .container .inputs_group input {
    border: 0;
    background: none;
    display: block;
    font-size: 1.1rem;
    margin: 7px;
    border-bottom: 1px solid #f5f7f8;
    padding: 10px 0px;
    width: 300px;
    outline: none;
    color: white;
    transition: 0.25s;
}

input::placeholder {
    color: rgba(199, 255, 209, 0.993);
}

input:focus {
    width: 320px;
    border-color: rgb(102, 230, 159);
}

.input-modal input {
    color: white;
}

section.form_side .container .inputs_group a {
    text-decoration: none;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;
}

section.form_side .container .inputs_group a:hover {
    transition: 0.2s;
    color: var(--yellow);
}

section.form_side .container button {
    border: 0;
    background-color: #5FC951;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 300px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.buttonForm-login:hover {
    background-color: #f8fff7;
}

section.form_side .container .btSend {
    display: none;
}

section.form_side .container .btSave:hover,
section.form_side .container .btSend:hover {
    background-color: var(--white-color);
    transition: 0.2s;
}

section.form_side .container .loading_screen {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.form_side .container .loading_screen p {
    font-family: Montserrat;
    font-size: 2.2em;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 15px 0px 10px 0px;
}

section.form_side .container .loading_screen img {
    width: 70%;
}

section.form_side .container .btCancel {
    display: none;
    text-decoration: none;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.9);
    margin-top: 20px;
    transition: 0.2s;
    cursor: pointer;
}

section.form_side .container .btCancel:hover {
    transition: 0.2s;
    color: var(--yellow);
}
/* MEDIA QUERYS */

@media(max-width: 1000px) {
    .form_side {
        overflow: auto;
    }
    body {
        font-size: 75%;
    }
    .cover_side {
        display: none;
    }
    section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.form_side {
        width: 100vw;
        height: 100vh;
    }
    section.form_side .container {
        width: 77%;
    }
    section.form_side .container .inputs_group {
        margin: 10px 0px 10px 0px;
    }
    section.form_side .container .inputs_group input {
        height: 52px;
    }
}
/*ANIMATIONS*/

section.cover_side {
    animation: move_right_in 1000ms backwards;
}

section.form_side .container .brand img {
    animation: move 800ms backwards;
}

section.form_side .container .brand p {
    animation: move 800ms backwards;
}

section.form_side .container #message {
    animation: fade_in 2000ms backwards;
    cursor: pointer;
}

section.form_side .container #message:hover {
    animation: fade_in 2000ms backwards;
    cursor: pointer;
    text-decoration: underline;
}

section.form_side .container .inputs_group input:nth-child(5) {
    animation: move_right_in 1000ms backwards;
}

section.form_side .container .inputs_group {
    animation: move_right_in 1000ms 250ms backwards !important;
}

section.form_side .container .inputs_group a {
    animation: fade_in 1000ms 800ms backwards;
}

section.form_side .container button {
    animation: fade_in 1000ms 800ms backwards;
}

section.form_side .container .loading_screen {
    animation: fade_in 1000ms backwards;
}

@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade_out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-40%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes move_right_in {
    from {
        opacity: 0;
        transform: translateX(-40%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes move_right_out {
    from {
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateX(40%);
        display: none !important;
    }
}

@keyframes move_left_in {
    from {
        opacity: 0;
        transform: translateX(0%);
    }
    to {
        opacity: 1;
        transform: translateX(-40%);
    }
}

@keyframes move_down {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 50%;
    }
}

 ::-webkit-scrollbar {
    background-color: #e1666600;
    width: 6px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #ACFFC3;
}
/* Animação popup modal onload */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}



#div_tabela{
    margin-left: 20px;
    align-items: center;
    margin-top:10px;
    width: 980px;
    height: 300px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

#tabelafun h1{
  
        /* background-color: tomato; */
        text-align: center;
         margin: 0 0 0px 0; 
        font-size: 1rem;
        color: rgb(0, 0, 0);     
        /* border-radius: 10px; */
}

#div_tabela table{
    margin: auto;
    background-color: rgb(172, 255, 195);;
    border-collapse: collapse;
    /* border: 1px solid rgb(161, 209, 161); */
    width: 70vw;
    border-radius: 10px;
    /* background-color: red; */
    height: auto;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

#tableMaquina{
    border-collapse: collapse;
    /* border: 1px solid rgb(161, 209, 161); */
}

/* thead{
    border-collapse: collapse;
    border: 1px solid rgb(161, 209, 161);
} */

.get-tabela table, td {
    /* border-collapse: collapse; */
    border-bottom: 1px solid rgb(90, 112, 96);
    border-top: 1px solid rgb(90, 112, 96);
    color: rgb(36, 37, 36);
    padding: 5px;
    text-align: center;
}

td{
    padding-left: 10px;
    font-size: 14px;
    font-family: system-ui;
}
  
th{
    height: 2rem;
    /* background-color: #dfe6e19f; */
    font-size: 15px;
    font-family: system-ui;
    color: rgb(55, 65, 55);
    padding: 0 20px;
    border-radius: 10px;
    /* position:relative; */
}

#idRemove{
    margin-left: 10px;
    width: 20px;
    cursor: pointer;
}

#idRemove:hover{
    width: 22px;
  
}

#idEdit{
    width: 20px;
    cursor: pointer;
}

#idEdit:hover{
    width: 22px;
  
}

/* SEGUNDA DIV DE INATIVOS */

section.form_side2 {
    width: 100%; 
    display: flex;
    margin-top: 30px;
    padding-left: 200px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

section.form_side2 .container {
    margin-top: -80PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    color: white;
}

section.form_side2 .container .brand {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fade_in 1000ms;
}

section.form_side2 .container .brand img {
    width: 18%;
}

section.form_side2 .container .brand p {
    font-family: 'Montserrat, sans-serif';
    font-size: 2.7em;
    margin: 15px 0px 10px 0px;
}

section.form_side2 .container #message {
    /* margin-inline-start: 0;
    margin-block-end: 0; */
    margin-top: -10px;
    font-size: 1.4em;
    text-align: start;
    /* margin-top: 10px; */
    color: rgba(255, 253, 253, 0.918);
    animation: fade_in 2000ms;
    /* margin-bottom: 50px; */
}

section.form_side2 .container img{
    cursor: pointer;
}

section.form_side2 .container .inputs_group {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
}

section.form_side2 .container .inputs_group input {
    border: 0;
    background: none;
    display: block;
    font-size: 1.1rem;
    margin: 7px;
    border-bottom: 1px solid #f5f7f8;
    padding: 10px 0px;
    width: 300px;
    outline: none;
    color: white;
    transition: 0.25s;
}


section.form_side2 .container .inputs_group a {
    text-decoration: none;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;
}

section.form_side2 .container .inputs_group a:hover {
    transition: 0.2s;
    color: var(--yellow);
}

section.form_side2 .container button {
    border: 0;
    background-color: #5FC951;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 300px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}


section.form_side2 .container .btSend {
    display: none;
}

section.form_side2 .container .btSave:hover,
section.form_side2 .container .btSend:hover {
    background-color: var(--white-color);
    transition: 0.2s;
}

section.form_side2 .container .loading_screen {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.form_side2 .container .loading_screen p {
    font-family: Montserrat;
    font-size: 2.2em;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 15px 0px 10px 0px;
}

section.form_side2 .container .loading_screen img {
    width: 70%;
}

section.form_side2 .container .btCancel {
    display: none;
    text-decoration: none;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.9);
    margin-top: 20px;
    transition: 0.2s;
    cursor: pointer;
}

section.form_side2 .container .btCancel:hover {
    transition: 0.2s;
    color: var(--yellow);
}


@media(max-width: 1000px) {
    .form_side2 {
        overflow: auto;
    }
    body {
        font-size: 75%;
    }
    .cover_side {
        display: none;
    }
    section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.form_side2 {
        width: 100vw;
        height: 100vh;
    }
    section.form_side2 .container {
        width: 77%;
    }
    section.form_side2 .container .inputs_group {
        margin: 10px 0px 10px 0px;
    }
    section.form_side2 .container .inputs_group input {
        height: 52px;
    }
}
/*ANIMATIONS*/

section.cover_side {
    animation: move_right_in 1000ms backwards;
}

section.form_side2 .container .brand img {
    animation: move 800ms backwards;
}

section.form_side2 .container .brand p {
    animation: move 800ms backwards;
}

section.form_side2 .container #message {
    animation: fade_in 2000ms backwards;
}

section.form_side2 .container .inputs_group input:nth-child(5) {
    animation: move_right_in 1000ms backwards;
}

section.form_side2 .container .inputs_group {
    animation: move_right_in 1000ms 250ms backwards !important;
}

section.form_side2 .container .inputs_group a {
    animation: fade_in 1000ms 800ms backwards;
}

section.form_side2 .container button {
    animation: fade_in 1000ms 800ms backwards;
}

section.form_side2 .container .loading_screen {
    animation: fade_in 1000ms backwards;
}

#tela1_table{
    padding-left: 100px;
}