/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 0rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: black;
  --first-color-light: rgb(137, 235, 58);
  --white-color: #ecf0ed;
  background-color: black;
  /*===== Font and typography =====*/
  --body-font: 'Montserrat', sans-serif;
  --normal-font-size: 1rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

a {
  text-decoration: none !important;
  color: aliceblue;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
  background-image: url(../assets/img/blur.svg);
  background-size: cover;

}

a{
  text-decoration: none;
}

/*===== HEADER =====*/
.bx-menu:before {
  justify-content:flex-start;
}

.header{
  width: 100%;
  height: var(--header-height);
  margin-top: 25px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  /* background-color: #4a814346; */
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img{
  width: 40px;
}


/* barra de rolagem, scroll */

::-webkit-scrollbar {
  background-color: #e1666600;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(250, 250, 250, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #ACFFC3;
}


#content {
    height: 100vh;
    width: 12%;
    display: flex;
    flex-direction: column;
    border-right: 3px solid #A8D5A7;
    float: left;
    background-color: black;
    /* background: linear-gradient(180deg, #ACFFC3 0%, rgba(131, 187, 144, 0.38) 0.01%, rgba(22, 9, 9, 0) 100%),linear-gradient(0deg, #000000, #000000); */
    position: fixed;
}

#options {
    overflow: auto;
    height: 80vh;
}

#logoName {
    width: 30%;
    padding: 20px 0px 10px 0;
    margin-left: auto;
    margin-right: auto;
}

.font_tamanho {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
}

.item {
    padding: 15px 0 16px 0px;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
    align-items: stretch;
    color: white;
}

.item_color {
    color: #ffffff;
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.8));
}

hr {
    border: none;
    background-color: #A8D5A7;
    height: 2px;
    width: 100%;
}

.item img {
    width: 20px;
}

#logout {
    text-align: center;
}

#logout img {
    padding: 10px 0 10px 0;
    width: 40px;
    cursor: pointer;
}


button {
  background-color: transparent;
  color: aliceblue;
  font-size: 0.99rem;
  pointer-events: visible;
  border: none;
  cursor: pointer;
}

/*===== NAV =====*/
/* .l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  color: var(--white-color);
  font-weight: 700;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--white-color);
}

.nav__icon{
  font-size: 1.25rem;
} */

/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active{
  color: var(--white-color);
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    /* margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem); */
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }
}

#informations {
  margin-left: 13%;
  padding: 0 1.75%;
  height: auto;
  box-sizing: border-box;
}

/* Começo do menu dropdown */
.dropbtn {
  background-color: #4caf4f00;
  color: rgba(255, 255, 255, 0);
  padding: 10px;
  font-size: 16px;
  border: none;
  float: right;
  cursor: pointer;
} 

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 200;
  background-color: #f9f9f96c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.842);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(137, 235, 58)
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e4100;
  position: relative;
  top: 10;
}

#header-profile-button {
    display: flex;
    position: absolute;
    right: 0;
}

/*************** responsividade *****************/

@media only screen and (max-width: 900px) {

  .container-perfil {
     padding: 60px !important;
  
  }

  .inp {
      width: 300px !important;
  }

  .section-img {
      padding: 30px !important;
      margin: 0 auto;
      height: 160px;
      width: 200px !important;
    }
  
  
    .inp-senha {
      width: 250px !important;
  }
  
    .inp-repeat {
      width: 250px !important;
     
  }
  
  .msg-valida {
      max-width: 100% !important;
      margin-left: 20px !important;
      font-size: 12px !important;
  }

  .check {
      position: relative;
      left: -65px !important;
     
  }

  .msgCheck {
      position: relative;
      left: -200px !important;
  }

}



/*************** fim responsividade *****************/


/************* primeiro container, do perfil*************/
.titulo {
  margin-top: 100px;
   position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.container-perfil {
  height: 100vh;
  margin: 0px 0px 0 100px;
  max-width: 100%;
  border-bottom-color: 50px solid black;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-evenly;
}

.container-perfil h2 {
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 0;
}

#user {
    width: 140px;
    position: relative;
    right: 22px;
    padding-left: 20px;
}

#edit-profile {
  justify-content: space-evenly;
}


/*campos do input*/
.caixa-input {
  height: 46vh;
  width: 300px;
  float: right;
  position: relative;
  color: #fff;
}

.inp {
  display: block;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  width: 300px;
  margin: 0 0 20px;
  padding: 0.8em;
  resize: none;
  outline: none;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color:  #0fac31;
  color: rgb(185, 185, 185);
}

.inp::placeholder {
  color: rgba(224, 224, 224, 0.863);
}

/**card do perfil**/
.caixa-card {
  width: 400px;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid #ACFFC3;
  background: linear-gradient(105.87deg, rgba(255, 255, 255, 0.28) 3.04%, rgba(255, 255, 255, 0) 96.05%);
  opacity: 1;
  float: right;
  transform: translateY(10px);
  transition: 0.5s;
  backdrop-filter: blur(80px);
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.buttonForm-login {
  border: 0;
  background-color: #5FC951;
  display: block;
  margin: 60px auto;
  text-align: center;
  border: 2px solid #5FC951;
  padding: 14px 10px;
  width: 200px;
  font-size: 17px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.buttonForm-login:hover {
  background-color: #3d7737;
  border-color: #3d7737;
}

input::placeholder  {
  color: white;
}

input:focus {
  width: 320px;
  border-color: rgb(102, 230, 159);
}

.caixa-card:hover {
  transform: translateY(0px);
  opacity: 100;
}

.caixa-card p {
  color: rgba(255, 255, 255, 0.883);
  position: relative;
  padding: 0 10px;
  margin-left: 5px;
  pointer-events: none;
  font-size: 13px;
}

.info-link {
  color: rgb(17, 166, 211);
  font-size: 12px;
  margin-right: 15px;
  display: flex;
  padding: 0 10px;
  margin-left: 5px;
  position: relative;
}

/* /card do perfil*/


/*imagem no card*/
.section-img {
  display: block;
  padding: 10px;
  margin: 0 auto;
  height: 200px;
  width: 100px;
}

.profile {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  margin-bottom: 10px;
  position: relative;
}

/* /imagem no card*/

h2 {
    padding: 10px;
}

p {
  margin-bottom: 5px;
  padding: 0 10px;
  margin-left: 5px;
}


/*alinhamento*/
.alinha {
  align-items: center;
  text-align: center;
  justify-content: center;
}
/* /alinhamento*/

/* / Botão de reportar erro */
#repError {
  left: 61%;
  background-color: transparent;
  border: 2px #E16666 solid;
  border-radius: 8px;
  padding: 0.7% 1.4%;
  color: white;
  cursor: pointer;
  position: relative;
  float: right;
}


.inp-repeat::placeholder,
.inp-senha::placeholder {
  color: rgba(224, 224, 224, 0.863);

}

/* / inputs campos*/

.subtitulo-padrao{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

/*reponsividade*/
@media (min-width: 620px) {
  .options-link {
    font-size: 1.4em;
  }
}

@media (max-width: 100%) {
  .caixa-card {
      position: relative;
      left: 500px;

  } }

  @media (max-width:800px){
      .profile{
       width: 100%;
      }

      .caixa-card {
        width: 400px;
        border-radius: 10px;
        padding: 20px;
        position: relative;
        left: 40px; 
      }

      .caixa-input {
        height: 64vh;
        width: 200px;
        float: right;
        position: relative;
        color: #fff;
    }
  }    

  @media (max-width:900px){
    .container-perfil{
     display: flex;
     margin: 0 auto;
     width: 100%;
    }

    #caixa-card {
      width: 300px; 
      margin-left: auto;
      margin-right: auto; 
      margin: 0 auto;
    }
    
    #repError{
      left: 100px;
    }

    #user-informations {
      align-items: center;
    }

    #ipt_nome {
      width: 400px;
    }

    .caixa-card {
      width: 400px;
      border-radius: 10px;
      padding: 20px;
      position: relative;
      left: 40px; 
    }

    .caixa-input {
      height: 64vh;
      width: 200px;
      float: right;
      position: relative;
      color: #fff;
  }

}   