 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); 
body{
    margin: 0;
    font-size: 90%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-image: url('../assets/img/blur.svg');
    font-family: 'Poppins, sans-serif';
    box-sizing: border-box;
}

.titulos {
    color: rgb(172, 255, 195);
    font-size: 3rem;    
  }

input .inputs_group {
    border: 0;
    background: none;
    display: block;
    font-size: 1.1rem;
    margin: 7px;
    border-bottom: 1px solid #f5f7f8;
    padding: 10px 0px;
    width: 300px;
    outline: none;
    color: white;
    transition: 0.25s;
  }

  input::placeholder  {
    color: white;
  }
  
  input:focus {
    width: 320px;
    border-color: rgb(102, 230, 159);
  }

section{
    display: flex;
    flex-direction: row;
}

section.cover_side{
    width: 70vw;
    height: 100vh;
    background-image: url(../assets/img/Frame\ 104.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

section.form_side{
    display: flex;
    width: 35vw;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section.form_side .container{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    color: white;
}

section.form_side .container .brand{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fade_in 1000ms;
}

section.form_side .container .brand img{
    width: 18%;
}

section.form_side .container .brand p{
    font-family: 'Montserrat, sans-serif';
    font-size: 2.7em;
    margin: 15px 0px 10px 0px;
}   

section.form_side .container #message{
    font-size: 1.4em;
    text-align: start;
    margin-top: 10px;
    color: rgba(255, 253, 253, 0.918);
    animation: fade_in 2000ms;
}

section.form_side .container .inputs_group{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
}

section.form_side .container .inputs_group input{
    border: 0;
    background: none;
    display: block;
    font-size: 1.1rem;
    margin: 7px;
    border-bottom: 1px solid #f5f7f8;
    padding: 10px 0px;
    width: 300px;
    outline: none;
    color: white;
    transition: 0.25s;
}


input::placeholder  {
    color: white;
  }
  
  input:focus {
    width: 320px;
    border-color: rgb(102, 230, 159);
  }

section.form_side .container .inputs_group a{
    text-decoration: none;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;
}

section.form_side .container .inputs_group a:hover{
    transition: 0.2s;
    color: var(--yellow);
}

section.form_side .container button{
    border: 0;
    background-color: #5FC951;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 300px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.buttonForm-login:hover {
    background-color: #3d7737;
  }

section.form_side .container .btSend{
    display: none;
}

section.form_side .container .btSave:hover, 
section.form_side .container .btSend:hover{
    background-color: var(--yellow);
    transition: 0.2s;
}

section.form_side .container .loading_screen{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.form_side .container .loading_screen p{
    font-family: Montserrat;
    font-size: 2.2em;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 15px 0px 10px 0px;
}

section.form_side .container .loading_screen img{
    width: 70%;
}

section.form_side .container .btCancel{
    display: none;
    text-decoration: none;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.9);
    margin-top: 20px;
    transition: 0.2s;
    cursor: pointer;
}

section.form_side .container .btCancel:hover{
    transition: 0.2s;
    color: var(--yellow);
}

/* MEDIA QUERYS */
@media(max-width: 1400px){
    body{
        font-size: 80%;
    }
    
    section.form_side{
        width: 80vw;
    }

    section.form_side .container .inputs_group input{
        height: 30px;   
        
    }

    section.form_side .container .btSave{
        height: 55px;
        border-radius: 100px;
    }
}

@media(max-width: 1000px){
    body{
        font-size: 75%;
    }
    
    .cover_side{
        display: none;
    }

    section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    section.form_side{
        width: 100vw;
        height: 100vh;
    }

    section.form_side .container{
        width: 77%;
    }

    section.form_side .container .inputs_group{
        margin: 10px 0px 10px 0px;
    }

    section.form_side .container .inputs_group input{
        height: 52px;
    }
}

/*ANIMATIONS*/

section.cover_side{
    animation: move_right_in 1000ms backwards;
}

section.form_side .container .brand img{
    animation: move 800ms backwards;
}

section.form_side .container .brand p{
    animation: move 800ms backwards;
}

section.form_side .container #message{
    animation: fade_in 2000ms backwards;
}

section.form_side .container .inputs_group input:nth-child(1){
    animation: move_right_in 1000ms backwards;
}

section.form_side .container .inputs_group input:nth-child(2){
    animation: move_right_in 1000ms 250ms backwards;
}

section.form_side .container .inputs_group a{
    animation: fade_in 1000ms 800ms backwards;
}

section.form_side .container button{
    animation: fade_in 1000ms 800ms backwards;
}


section.form_side .container .loading_screen{
    animation: fade_in 1000ms backwards;
}

@keyframes fade_in{
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;  
    }
} 

@keyframes fade_out{
    from {
        opacity: 1;
    } 
    to {
        opacity: 0;  
    }
} 

@keyframes move{
    from {
        opacity: 0;
        transform: translateX(-40%);
      
    } 
    to {
        opacity: 1;  
        transform: translateX(0%);
    }
} 

@keyframes move_right_in{
    from {
        opacity: 0;
        transform: translateX(-40%);
      
    } 
    to {
        opacity: 1;  
        transform: translateX(0%);
    }
} 

@keyframes move_right_out{
    from {
        opacity: 1;
        transform: translateX(0%);
      
    } 
    to {
        opacity: 0;  
        transform: translateX(40%);
        display: none !important;
    }
} 

@keyframes move_left_in{
    from {
        opacity: 0;
        transform: translateX(0%);
      
    } 
    to {
        opacity: 1;  
        transform: translateX(-40%);
    }
}

@keyframes move_down{
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 50%;
    }
} 