/* Resetando os defaults */
* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Parte principal home */
.container {
    background: black;
    background-image: url(img/retangulo-linear.png),  /* Retângulo verde  */
    url(img/blur.svg), /* Luz verde em cima da camada preta  */
    url(img/grid.svg); /* Grid  */
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position:  right;
    backface-visibility: hidden;
    width: 100% !important;
    height: 100vh !important;
}

/* Cabeçalho e navbar */
header {
    width: 75%;
    height: 30px;
    color: white;
    margin: 0;
    list-style: none;
    white-space: nowrap;   /* Para quebrar os espaços e as palavras caberem na msm linha */
}

/* Lista do nav bar */
ul li {
    font-size: 23px;
    color: rgb(253, 253, 253);
    display: unset;
    margin-left: 3%;
    padding-right: 7%;
}

/* login e cadastro em preto */
li .login-cadastro {
    color: black;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    border-bottom: 2px solid rgba(95, 201, 81, 1);
}

strong a {
    color: black;
}

#logo-img {
    padding-top: 20px;
    padding-left: 174px;
}

.titulos {
    color: #ACFFC3;
    font-size: 67px;
    padding-top: 100px;
    padding-left: 200px;
}

#div-line {
    background-color: #ACFFC3; 
    height: 3px;
}

.seta{
    text-align: center;
    margin-left: 50%;
    bottom: 0;
    position: fixed;
}

#clique{
    color: white;
    font-size: 15px;
}

.seta-h:hover{
    width: 50px;
}

#caixa-eletronico-verde {
    width: 217px;
    float: right;
    display: inline;
    margin-right: 411px;
    margin-top: -400px;
    z-index: 20;
}

#info-slogan {
    width: 356px;
    font-size: 15px;
    line-height: 20px;
    word-break: break-all;
    text-indent: 1rem;
    color: aliceblue;
}

#about {
    display: flex;
    margin-inline-start: 190px;
}

.sobre_info{
    color: aliceblue;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.sobre_info-titulo{
    font-size: 36px;
    font-weight:900;
    color: #ffffff;
    text-align: center;
    display: flex;
}