/* Resetando os defaults - Homepage */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
    background: black;
}

/* Cabeçalho e navbar */
header {
    color: white;
    /* margin-left: 170px !important; */
    position: absolute;
    /* width: 68%; */
    /* display: inline-flexbox; */
    list-style: none;
    white-space: nowrap;   /* Para quebrar os espaços e as palavras caberem na msm linha */
}

#respiro {
    max-width: 85%;
    margin: 0 auto;
}

#retangulo {
    position: relative;
    z-index: -1;
}

.ret {
    position: absolute; 
    background-size: cover;
    height: 5%;
    right: 0;
    
    max-width: 100%;
    z-index: -1;
}


#logo-img {
    height: 50px;
    padding-left: 0px;
    position: relative;
    top: 10px;
}

/* Parte principal home */
.container {
    background-image: url(img/blur.svg), /* Luz verde em cima da camada preta  */
                      url(img/grid.svg); /* Grid  */
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position:  right;
    backface-visibility: hidden;
    position: relative;
    /* width: 100%; */
    height: 800px;
    z-index: 1;
    background-size: cover;
}

#safe-escudo {
    width: 100px;
    margin-right: 30px;
}

.login {
    color: white;
}

.login {
  display: inline-block;
  width: 130px;
  padding: 8px;
  border-radius: 30px;
  color: #fff;
  background-color: rgba(60, 255, 76, 0.561);
  text-align: center;
  outline: none;
  text-decoration: none;
}

/* Ghost button */ 
.cadastro {
    display: inline-block;
  width: 150px;
  padding: 8px;
  border-radius: 30px;
  color: #fff;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  outline: none;
  text-decoration: none;
}


/* Lista do nav bar */
.ul-header {
    font-size: 22px;
    color: rgb(253, 253, 253);
    display: unset;
    /* margin-left: 3%; */
    padding-right: 7%;
}

/* login e cadastro em preto */
.header-principal li .login-cadastro {
    color: black;
}

.header-principal a {
    text-decoration: none;
    color: white;
}

.header-principal a:hover{
    border-bottom: 2px solid rgba(95, 201, 81, 1);
}

.header-principal strong a {
    color: black;
}

.titulos {
    color: #ACFFC3;
    font-size: 4rem;
    padding-top: 100px;
    padding-left: 50px;
    font-weight: 600;
}

.titulo_home {
    color: #ACFFC3;
    font-size: 4rem;
    padding-top: 100px;
    /* padding-left: 200px; */
    font-weight: 600;
}

#div-line {
    background-color: #ACFFC3; 
    height: 3px;
}

.seta{
    text-align: center;
    font-weight: 900;
    height: 80px;
    position:absolute; 
    bottom:0; 
    width:100%;
}

#clique{
    color: white;
    font-size: 15px;
}

.seta-h:hover{
    width: 50px;
}

#caixa-eletronico-verde {
    margin: 100px 50px 0 0;
    /* width: 25%; */
    width: 250px;
    float: right;
    /* position: relative;
    top: -418px;
    right: 240px; */
}

#info-slogan {
    width: 70%;
    font-size: 17px;
    color: aliceblue;
}

#about {
    display: flex;
    /* margin-inline-start: 190px; */
}

.sobre_info{
    color: aliceblue;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.sobre_info-titulo{
    font-size: 36px;
    font-weight:900;
    color: #ffffff;
    text-align: center;
    display: flex;
}

/* Serviços - 1 */ 
#servico {
    max-width: 100%;
    margin: auto;
    /* height: 700px; */    
}

.servico-container {
    margin: auto;
    max-width: 1300px;
    padding-bottom: 150px;
}

.servico-texto {
    font-size: 17px;
    margin-bottom: 5%;
    color:rgb(253, 253, 253);
    padding-left: 50px;
    margin-top: 20px;
}

.servico-box-item{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-items: center; */
}
.servico-item{
    margin-top: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servico-item-txt {
    color: #ACFFC3;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.servico-item-img {
   margin-bottom: auto;
   width: 200px;
}

.servico-infos-container{
    padding: 50px;
    margin-top: 50px;
    margin: auto;
    max-width: 1200px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.41) 50.81%, rgba(255, 255, 255, 0) 138.15%), #89D388;
    border-radius: 50px;
    text-align: left;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.servico-infos-box{
    width: 325px;
    margin-right: 50px;
    margin-top: 50px;

}
.servicos-infos-img{
    float: left;
    width: 100px;
}

.servicos-infos-titulo{
    padding-bottom: 20px;
    width: 190px;
    float: right;
    font-size: 25px;
    font-weight: bolder;
}

.servicos-infos-txt{
    width: 190px;
    float: right;
    font-size: 20px;
}
/* Fim de serviços - 1*/ 



/* Serviços - 2 */ 
#servicos2 {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    background-size: cover;
}

#img_caixa_servicos2 {
    height: 75%;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Fim de serviços - 2 */ 

/* Início contato */

#contato {
    max-width: 100%;
    margin: auto;
    margin-bottom: 100px;
}

.container_contato {
    width: 100%;
     margin: auto;
     
 }

.caixa_contato {
    margin-left: 10%;
    margin-right: 60%;
    background-color: #d9f1d8;
    margin-bottom: 5%;
    padding: 5%;
    margin-top: 5%;
    font-size: 15px;
}

h1.title_contato {
    color: #acffc3;
    font-family: sans-serif;
    margin: 3% 11%;
    margin-block-end: 0;
    margin-block-start: 0;
}

h2 {
    color: black;
    font-family: sans-serif;
}

.frase_contato {
    color: #707070;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 15px;
    margin-top: 15%;
    margin-bottom: 20px;
}

.ipt_contato {
    display: flex;
    margin: 2%;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid #707070;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 5%;
    padding-right: 30%;
    width: 60%;
}

.btn_contato {
    background-color: #5fc951;
    border-radius: 50px;
    padding: 4% 38%;
    margin-top: 15%;
    border: 1px rgb(104, 104, 104);
    cursor: pointer;
}

.btn_contato:hover{
    background-color: #464545;
    color: #fff;
    transition-duration: 0.5s;
}

.img_contato {
    float: right;
    margin-right: 20%;
    width: 30%;
    margin-top: 5%;
}


/* RODAPÉ */



.row {
    width: 100%;
    /* flex-wrap: wrap; */
    display: flex !important;
    justify-content: space-evenly !important;
    padding-top: 40px;
  
}

ul {
    list-style: none;
    margin: 0%;
    
}

.footer {
    background-color: #89D388;
    padding: 20px 0;
   
}

.footer img {
    height: 80px;
    margin-top: 40px;
    margin-left: 20%;
    float: right 20px;
}

.suporte-contato {
    margin-bottom: 10px;
    margin-left: 0px !important;
}

.footer-col {
    width: 25%;
   
}

.footer-col h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #000000;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    cursor: default;
}

.footer-col h4 {
    transition: color 0.3s ease-in-out;
}


.footer-col ul li a {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    font-weight: 300;
    color: #0f0f0f;
    display: block;
    padding: 4px;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #000000;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    background-color: #000000;
    color: #89D388;
    transition-duration: 0.5s;
}

/*RESPONSIVIDADE*/

@media screen and (max-width: 875px){
    .ul-header{
        padding-right: 3%;
    }
}

@media screen and (max-width: 750px){
    .login{
        width: 100px;
    }
    #caixa-eletronico-verde {
        margin: 100px 0px 0 0;
    }
}

@media screen and (max-width: 710px){
    .cadastro{
        width: 100px;
    }
}

@media screen and (max-width: 650px){
    .ul-header{
        font-size: 18px;
    }
    #info-slogan {
        width: 45%;
    }
    .sobre_info-titulo {
        font-size: 31px;
    }
    #caixa-eletronico-verde {
        margin: 100px 0px 0 0;
    }
}

@media screen and (max-width: 600px){
    .seta{
        height: 50px;
    }
    #caixa-eletronico-verde {
        margin: 100px -50px 0 0;
    }

}

@media screen and (max-width: 520px){
    #caixa-eletronico-verde {
        width: 20%;
    }
    #info-slogan {
        width: 100%;
    }
}




@media(min-width: 1200px) {
    .redes-social-contato {
        margin-left: 0px !important;
    }

    .footer-suporte-contato {
        margin-left: 100px;
    }

    

    .caixa_contato {
        margin-left: 10%;
        margin-right: 60%;
        background-color: #d9f1d8;
        margin-bottom: 5%;
        padding: 5%;
        margin-top: 5%;
    }

    .logo-footer-contato {
        position: relative;
        left: 24%;
       
    }

    
}

@media(min-width: 900px) {
    .redes-social-contato {
        margin-left: 200px;
    }

    .img_contato {
        float: right;
        margin-right: 10%;
        width: 30%;
        /* padding: 0% 0 10% 0; */
    }

    .caixa_contato {
        margin-right: 50%;
    }
}

@media(min-width: 700px) {

    .footer img {
        margin-top: 40px;
        margin-left: 10%;
    }

}

@media (max-width: 900px) {
    .imagem_contato {
        display: none !important;
    }

    .caixa_contato {
        width: 40% !important;
        position: relative;
        left: 15%;
    }

    .frase_contato {
        font-size: 16px;
    }
    
}

@media(min-width: 600px) {
    .redes-social-contato {
        margin-left: 120px;
    }

    .frase_contato {
        font-size: 16px;
    }

}

@media(max-width: 600px) {
    .footer-col {
        width: 100%;
    }

    .footer img {
        margin-top: 40px;
        margin-left: 5%;
    }
}


@media (max-width: 700px) {
   
    .caixa_contato {
        width: 50% !important;
        position: relative;
        left: 10%;
    }

  
}

@media (max-width: 598px) {
    .footer img {
        margin-top: 40px;
        margin-left: 5%;
    }

    .footer {
        padding: 50px 0 !important;
    }

    .caixa_contato {
        width: 50% !important;
        position: relative;
        left: 10%;
    }
  
}
    

@media (max-width: 498px) {
    
    footer {
        padding: 50px 0 !important;
        flex-wrap: wrap !important;
        display: flex;
    }
}
    

 /* Fim de contato */

