@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
}

.caixa_contato {
    margin-left: 10%;
    margin-right: 60%;
    background-color: #d9f1d8;
    margin-bottom: 5%;
    padding: 5%;
    margin-top: 5%;
}

h1.title_contato {
    color: #acffc3;
    font-family: sans-serif;
    margin: 3% 11%;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-top: 4%;
}

h2 {
    color: black;
    font-family: sans-serif;
}

.frase_contato {
    color: #707070;
    font-family: sans-serif;
    font-size: smaller;
    line-height: 15px;
    margin-top: 15%;
}

.ipt_contato {
    display: flex;
    margin: 2%;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 7% #707070;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 5%;
    padding-right: 30%;
    width: 60%;
}

.btn_contato {
    background-color: #5fc951;
    border-radius: 50px;
    padding: 4% 38%;
    margin-top: 15%;
    border: 1px rgb(104, 104, 104);
    cursor: pointer;
}

.img_contato {
    float: right;
    margin-right: 20%;
    width: 30%;
    margin-top: 5%;
}


/* RODAPÉ */

.container_contato {
   width: 100%;
    margin: auto;
    
}

.row {
    display: flex;
    /* flex-wrap: wrap; */
    display: flex;
    justify-content: space-evenly;
  
}

ul {
    list-style: none;
    margin: 0%;
    
}

.footer {
    background-color: #89D388;
    padding: 20px 0;
   
}

.footer img {
    height: 80px;
    margin-top: 40px;
    margin-left: 20%;
    float: right 20px;
}

.suporte-contato {
    margin-bottom: 10px;
    margin-left: 40px !important;
}

.footer-col {
    width: 25%;
   
}

.footer-col h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #000000;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    cursor: default;
}

.footer-col h4 {
    transition: color 0.3s ease-in-out;
}


.footer-col ul li a {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    display: block;
    padding: 4px;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #000000;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.5s ease;
}


/*RESPONSIVIDADE*/



@media(min-width: 1200px) {
    .redes-social-contato {
        margin-left: 0px !important;
    }

    .footer-suporte-contato {
        margin-left: 10px;
    }

    .img_contato {
        float: right;
        margin-right: 10%;
        width: 30%;
        /* padding: 0% 0 10% 0; */
    }

    .caixa_contato {
        margin-left: 10%;
        margin-right: 60%;
        background-color: #d9f1d8;
        margin-bottom: 5%;
        padding: 5%;
        margin-top: 5%;
    }

    
}

@media(min-width: 900px) {
    .redes-social-contato {
        margin-left: 200px;
    }

    .img_contato {
        float: right;
        margin-right: 10%;
        width: 30%;
        /* padding: 0% 0 10% 0; */
    }

    .caixa_contato {
        margin-right: 50%;
    }
}

@media(min-width: 700px) {

    .footer img {
        margin-top: 40px;
        margin-left: 10%;
    }

}

@media (max-width: 900px) {
    .imagem_contato {
        display: none !important;
    }

    .caixa_contato {
        width: 40% !important;
        position: relative;
        left: 15%;
    }
    
}

@media(min-width: 600px) {
    .redes-social-contato {
        margin-left: 120px;
    }

}

@media(max-width: 600px) {
    .footer-col {
        width: 100%;
    }

    .footer img {
        margin-top: 40px;
        margin-left: 5%;
    }
}


@media (max-width: 700px) {
   
    .caixa_contato {
        width: 50% !important;
        position: relative;
        left: 10%;
    }

  
}

@media (max-width: 598px) {
    .footer img {
        margin-top: 40px;
        margin-left: 5%;
    }

    .footer {
        padding: 50px 0 !important;
    }

    .caixa_contato {
        width: 50% !important;
        position: relative;
        left: 10%;
    }
  
}
    

@media (max-width: 498px) {
    
    footer {
        padding: 50px 0 !important;
        flex-wrap: wrap !important;
        display: flex;
    }
}
    
