/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');*/
* {
  border: none;
  margin: 0ch;
  padding: 0ch;
  box-sizing: border-box;
}

body {
  background: #000000;
  background-image: url(/assets/img/blur.svg);
  list-style: none;
  margin: 0;
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

/************ container pai ************/

.container-maior-cadastro {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/*************container filho esquerdo*********/

.container-esquerdo-cadastro {
  height: 100%;
  width: 100%;
}

.label-cadastro {
  color: aliceblue;
}
/*caixa do formulario*/

.formulario-cadastro {
  position: relative;
  height: 89vh;
  height: 100% !important;
  min-height: 480px;
  margin-top: 0px;
  text-align: center;
}

/*formulario e input*/

.formulario-cadastro form {
  background-image: url(img/Rectangle\ 2.svg);
  display: flex;
  background-size: 2000px;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.formulario-cadastro input {
  border: 0;
  background: none;
  display: block;
  font-size: 1.1rem;
  margin: 7px;
  border-bottom: 1px solid #f5f7f8;
  padding: 10px 0px;
  width: 300px;
  outline: none;
  color: white;
  transition: 0.25s;
}

input::placeholder  {
  color: white;
}

.formulario-cadastro input:focus {
  width: 350px;
  border-color: rgb(102, 230, 159);
}

/* Titulo "Cadastro"*/
.titulos {
  color: rgb(172, 255, 195);
  font-size: 3rem;
  padding-top: 39px;
  padding-bottom: 19px;
}

.buttonForm-cadastro {
  border: 0; 
  background-color: #5fc951;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding: 14px 10px;
  width: 300px;
  margin-bottom: 50px;
  color: rgb(0, 0, 0);
  border-radius: 24px;
  transition: 0.25s;
}

.buttonForm-cadastro:hover {
  background-color: #3d7737;
  border-color: #3d7737;
}

.msgErro-cadastro {
  color: rgb(255, 255, 255);
  font-size: 12px;
  visibility: hidden;
  margin: 0ch;
  width: 60%;
  justify-content: start;
  display: flex;
}

/**************** check-box termos de uso ************/

.label-cadastro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  left: 40px;
  height: 40px;
  width: 270px;
}

.custom-checkbox input,
.custom-radio input{
  display: none;
}

.custom-checkbox input + label:before {
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid gray;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 3px;
}

.custom-checkbox input:checked + label:before {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
  background-color: rgb(33, 95, 15);
  background-position: center;
  border: none;
  padding: 1px;
}

/*Tirar fundo do autocomplete nos inputs do formulario*/
  input:-webkit-autofill {
  -webkit-box-shadow: red;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/*************container filho direito*********/

.container-direito-cadastro {
  width: auto;
  height: 100vh;
  display: block;
}

.img-cadastro img{
 height: 99.3vh;
 object-fit: cover;
}

/****************** Responsividade ******************/

@media only screen and (min-width: 1200px) {
 
  .msgErro-cadastro {
    position: relative;
    left: 3% !important;
  }

}

@media only screen and (max-width: 800px) {
  .container-maior-cadastro {
    margin: auto;
    display: flex;
    justify-content: unset;
    flex-direction: column;
    align-items: center;
  }
  .container-direito-cadastro{
    display: none;
  }

}

@media only screen and (min-width: 990px) {
 
  .msgErro-cadastro {
    position: relative;
    right: 20px;
  }

}

@media only screen and (max-width: 990px) {
 
  .msgErro-cadastro {
    position: relative;
    right: 30px;
  }

}

@media only screen and (max-width: 800px) {
 
  .msgErro-cadastro {
    position: relative;
    left: 10%;
  }

}

@media only screen and (max-width: 760px) {
 
  .msgErro-cadastro {
    position: relative;
    left: 7% !important;
  }

}


@media only screen and (max-width: 660px) {
 
  .msgErro-cadastro {
    position: relative;
    left: 3% !important;
  }

}

@media only screen and (max-width: 580px) {
  .msgErro-cadastro {
    position: relative;
    left: -3% !important;
  }

}

@media only screen and (max-width: 480px) {
 
  .msgErro-cadastro {
    position: relative;
    left: -7% !important;
  }

}




