@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body 
{
    margin: 0;
    border: 0;
    padding: 0;
    /* background: radial-gradient(112.52% 123.86% at 12.55% 86.48%, rgba(1, 179, 79, 0.81) 8.23%, rgba(172, 255, 195, 0) 79.69%, rgba(255, 255, 255, 0.05) 100%);
     backdrop-filter: blur(42px); 
    /* Note: backdrop-filter has minimal browser support 
    transform: rotate(90deg); */
    background-color: rgba(12, 22, 17, 0.9);
    font-family: Poppins;
    /* height: 100vh; */
    /* overflow: hidden; */
}


/*-----------body------------*/
#informations
{
    /* height: 200px; */
    /* background-color: blue; */
    /* float: right; */
    /* width: 80%; */
    
    margin-left: 13%;
    padding: 0 1.75%;
    /* padding: 0 3.5%; */
    height: auto;
    
}

/*-----------body------------*/


/* barra de rolagem, scroll */

::-webkit-scrollbar { 
    background-color: #E16666;
    width: 6px;/* 1 */ }
::-webkit-scrollbar-button { /* 2 */ }
::-webkit-scrollbar-track{ /* 3*/ 
background-color: rgb(250, 250, 250);
}
::-webkit-scrollbar-track-piece { /* 4 */ }

::-webkit-scrollbar-thumb {
    background-color: aqua; /* 5 */ }
::-webkit-scrollbar-corner { /* 6 */ }
::-webkit-resizer{ /* 7 */ }



/*menu de opçoes lateral */
#content
{
    height: 100vh;
    /* background-color: blue; */
    width: 10%;
    padding: 0 1.5% 0 1.5%;
    display: flex;
    flex-direction: column;
    border-right: 3px solid #A8D5A7;
    float: left;
    background-color: black;
    position: fixed;
}


#options 
{
    overflow: auto;
    height: 80vh;
}

/* ::-webkit-scrollbar 
{
    display: none;
} */

#logoName
{
    width: 100%;
    padding: 20px 0 10px 0;
}

.item
{
    padding: 15px 0 15px 0;
    text-align: center;
    cursor: pointer;
    color: white;
}

hr
{
    border: none;
    background-color: #A8D5A7;
    height: 2px;
}

.item img
{
    width: 20px;
}

#logout
{
    text-align: center;   
    
}

#logout img
{
    padding: 10px 0 10px 0;
    width: 40px;
    cursor: pointer;
}

/*  /menu de opçoes lateral */



/* ---header----*/
.header
{
    padding: 20px 1.75% 0 1.75%;
    margin-bottom: 30px;
}

.header img 
{
    width: 50px;
    margin-right: 10px;
    /* float: left; */
}

.header strong 
{
    font-size: 35px;
    color: white;
    /* float: left; */
}

#repError
{
    background-color: transparent;
    border:2px #E16666 solid;
    border-radius: 8px;
    padding: 0.7% 1.4%;
    color: white;
    cursor: pointer;
    float: right;
    margin-top: 20px;
}

#user
{
    float: right;
    width: 140px;
    padding-left: 20px;
    margin: 10px 0 0 0;
}

/* --- /header----*/



/*Container de informações*/
#infoBoxes
{    width: 100%;
    height: 80%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.box
{
    background: linear-gradient(133.84deg, #4E4E4E -16.04%, #333333 9.33%, #1A1A1A 32.02%, #1A1A1A 62.06%, #262626 87.42%, #4E4E4E 112.12%);
    border: 3px solid #ACFFC3;
    border-radius: 16px;
    box-shadow: 2px 6px 15px 2px rgba(12, 10, 11, 0.8);
    margin: 1.5%;
}

#ram
{
    width: 55%;
    height: 200px;
}

#temp
{
    width: 30%;
    height: 200px;
    display: block;
    /* flex-direction: column; */
}

.boxContent
{
    max-width: 95%;
    margin: 0 auto;
    height: 90%;
   
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    /* text-align: center; */
}

.boxContent strong
{
    color: white;
    margin: 10px 10px 0 0;
    /* float: left; */
}

.icon
{
    width: 50px;
    height: 50px;
    padding-top: 15px;
    float: right;
}


/*------/Container de informações*/


/* #infoBoxes
{
    color: white;
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex
    height: 1000px;
    overflow-y: auto;
    justify-content: space-between;
}



.box
{
    background: linear-gradient(133.84deg, #4E4E4E -16.04%, #333333 9.33%, #1A1A1A 32.02%, #1A1A1A 62.06%, #262626 87.42%, #4E4E4E 112.12%);
    border: 3px solid #ACFFC3;
    border-radius: 16px;
    box-shadow: 2px 6px 15px 2px rgba(12, 10, 11, 0.8);
    margin: 1.5%;
    display: flex;
    flex-wrap: wrap;
}

.boxContent
{
    padding: 20px;
}

.boxContent strong
{
    float: left;
}

.icon
{
    float: right;
    width: 50px;
}

.graph
{
    width: auto;
} */

