/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: black;
  --first-color-light: #ACFAFF;
  --white-color: #ecf0ed;
  background: url(/Site/assets/img/blur.svg) no-repeat ;
  background-color: black;
  /*===== Font and typography =====*/
  --body-font: 'Montserrat', sans-serif;
  --normal-font-size: 1rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}

a{
  text-decoration: none;
}

/*===== HEADER =====*/
.bx-menu:before {
  justify-content:flex-start;
}

.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  background-color: #87ffa582;
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img{
  width: 40px;
}

/*===== NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  color: var(--white-color);
  font-weight: 700;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--white-color);
}

.nav__icon{
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active{
  color: var(--white-color);
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }
}

/* CSS Fany Hemmings */


/*************** responsividade *****************/

@media only screen and (max-width: 900px) {

  .container-perfil {
     padding: 60px !important;
  
  }

  .inp {
      width: 250px !important;
  }

  .section-img {
      padding: 30px !important;
      margin: 0 auto;
      height: 160px;
      width: 200px !important;
    }
  
  
    .inp-senha {
      width: 250px !important;
  }
  
    .inp-repeat {
      width: 250px !important;
     
  }
  
  .msg-valida {
      max-width: 100% !important;
      margin-left: 20px !important;
      font-size: 12px !important;
  }

  .check {
      position: relative;
      left: -65px !important;
     
  }

  .msgCheck {
      position: relative;
      left: -200px !important;
  }

}

/*************** fim responsividade *****************/


/************* primeiro container, do perfil*************/
.titulo {
  margin-top: 100px;
   position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.container-perfil {
  height: 90vh;
  margin: 0;
  max-width: 100%;
  border-bottom-color: 50px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.container-perfil h2 {
  display: flex;
  justify-content: center;
  color: #fff;
}


#user {
  float: right;
  width: 140px;
  padding-left: 20px;
  margin: 10px 0 0 0;
}

/*campos do input*/
.caixa-input {
  height: 300px;
  width: 300px;
  position: relative;
  margin-top: 40px;
 color: #fff;
}

.inp {
  display: block;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  width: 300px;
  margin: 0 0 20px;
  padding: 0.8em;
  resize: none;
  outline: none;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color:  #0fac31;
}

.inp::placeholder {
  color: rgba(224, 224, 224, 0.863);
}

/**card do perfil**/
.caixa-card {
  width: 320px;
  border-top: 3px solid var(--red);
  border-radius: 3px;
  overflow: hidden;
  color: rgba(228, 216, 216, 0.835);
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.caixa-card p {
  color: rgba(255, 255, 255, 0.883);
  position: relative;
  padding: 0 10px;
  margin-left: 5px;
  font-size: 13px;
}

.info-link {
  color: rgb(17, 166, 211);
  font-size: 12px;
  margin-right: 15px;
  display: flex;
  padding: 0 10px;
  margin-left: 5px;
  position: relative;
}

/* /card do perfil*/


/*imagem no card*/
.section-img {
  display: block;
  padding: 10px;
  margin: 0 auto;
  height: 200px;
  width: 100px;
}

.profile {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  margin-bottom: 10px;
  position: relative;
}

/* /imagem no card*/

h2 {
    padding: 10px;
}

p {
  margin-bottom: 5px;
  padding: 0 10px;
  margin-left: 5px;
}

/******************* / primeiro container, do perfil ***********************/


/*alinhamento*/
.alinha {
  align-items: center;
  text-align: center;
  justify-content: center;
}
/* /alinhamento*/

/* / Botão de reportar erro */
#repError {
  background-color: transparent;
  border:2px #E16666 solid;
  border-radius: 8px;
  padding: 0.7% 1.4%;
  color: white;
  cursor: pointer;
  float: right;
  margin-top: 20px;
}


.inp-repeat::placeholder,
.inp-senha::placeholder {
  color: rgba(224, 224, 224, 0.863);

}

/* / inputs campos*/

.subtitulo-padrao{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

/*reponsividade*/
@media (min-width: 620px) {
  .options-link {
    font-size: 1.4em;
  }
}

@media (max-width: 100% - 100px) {
  .caixa-card {
      position: relative;
      left: 500px;

  } }

  @media (max-width:800px){
      .profile{
       width: 80%;
      }
  }    

