

/*************** responsividade *****************/

@media only screen and (max-width: 900px) {

    .container-perfil {
       padding: 60px !important;
    
    }

    .inp {
        width: 250px !important;
    }

    .section-img {
        padding: 30px !important;
        margin: 0 auto;
        height: 160px;
        width: 200px !important;
      }
    
    
      .inp-senha {
        width: 250px !important;
    }
    
      .inp-repeat {
        width: 250px !important;
       
    }
    
    .msg-valida {
        max-width: 100% !important;
        margin-left: 20px !important;
        font-size: 12px !important;
    }

    .check {
        position: relative;
        left: -65px !important;
       
    }

    .msgCheck {
        position: relative;
        left: -200px !important;
    }
    

}

/*************** fim responsividade *****************/


/************* primeiro container, do perfil*************/


.titulo {
    margin-top: 100px;
     position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.container-perfil {
    height: 500px;
    margin: 0;
    padding: 0; 
    border-bottom-color: 50px solid black;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr); 
    display: flex;
    align-items: center;
    justify-content: space-around;
     padding-right: 100px;
     padding-left: 100px;


}

.container-perfil h2 {
    display: flex;
    justify-content: center;
    color: #fff;
}


/*canpos do input*/
.caixa-input {
    height: 300px;
    width: 300px;
    position: relative;
    margin-top: 40px;
   color: #fff;
}

 .inp {
    display: block;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 300px;
    margin: 0 0 20px;
    padding: 0.8em;
    border: 2px solid #ccc;
    border-radius: 1.5em;
    resize: none;
    outline: none;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color:  #0fac31;
}

.inp::placeholder {
    color: rgba(224, 224, 224, 0.863);
}

/**card do perfil**/
.caixa-card {
    width: 320px;
    height: 420px;
    border-top: 3px solid var(--red);
    border-radius: 3px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.678);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;

}


.caixa-card p {
    color: rgba(255, 255, 255, 0.883);
    position: relative;
    bottom: 40px;
    padding: 0 10px;
    margin-left: 5px;
    font-size: 13px;
}

.info-link {
    color: rgb(17, 166, 211);
    font-size: 12px;
    margin-right: 15px;
    display: flex;
    padding: 0 10px;
    margin-left: 5px;
    position: relative;
    bottom: 40px;
}

/* /card do perfil*/


/*imagem no card*/
.section-img {
    display: block;
    padding: 10px;
    margin: 0 auto;
    height: 200px;
    width: 100px;
  }


.profile {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative;
    bottom: 10px;
  }

  /* /imagem no card*/

  .container-perfil h2 {
   padding-top: 30px;
   
  }

  h2 {
      padding: 10px;
  }
  
  p {
    margin-bottom: 5px;
    padding: 0 10px;
    margin-left: 5px;
  }

  /******************* / primeiro container, do perfil ***********************/


  /*alinhamento*/
  .alinha {
    align-items: center;
    text-align: center;
    justify-content: center;
}
 /* /alinhamento*/



  /********************** segundo container trocar senha ******************/

.container-senha{
    height: 450px;
    width: 100%;
    
   
}

.caixa-titulo {
    height: 100px;
    display: block;
}

.senhas {
    max-width: 100%;
    height: 150px;
    grid-template-columns: repeat(3, 1fr); 
    display: flex;
    align-items: center;
    justify-content: center;

}

/*inputs campos trocar senha*/

.inp-senha {

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 250px;
    margin: 0 0 20px;
    padding: 0.8em;
    border: 2px solid  #0fac31;
    border-radius: 1.5em;
    resize: none;
    outline: none;
    border-color: 0;
    background-color: transparent;
  
}


/*****senha antiga*****/

.senha-antiga {
    display: flex;
    justify-content: center;
    max-width: 100%;
}


  .inp-repeat {
    display: block;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 250px;
    margin: 0 0 20px;
    padding: 0.8em;
    border: 2px solid #0fac31;
    border-radius: 1.5em;
    background-color: transparent;
    resize: none;
    outline: none;
    border-color: 0;
   
}

.inp-repeat::placeholder,
 .inp-senha::placeholder {
    color: rgba(224, 224, 224, 0.863);

}
 
 /* / inputs campos*/



/*** checkbox mostrar as senha ***/

.check {
    width: 300px;
}

.msgCheck {
    position: relative;
    right: 140px;
    color: #fff;

}

/* /checkbox mostrar as senha*/


/***mensagem da validação***/


.msg-valida {
   margin-top: 10px;
    height: 90px; 
    max-width: 80%; 
    display: flex; 
    justify-content: center; 
    margin-left: 90px;
    font-size: 12px;
}

.senha1 {
  
  margin-left: 20px;
   
}

/*  /mensagem da validação*/


/*botao confirme*/

.buttonSenha {
    border: 0;
    background-color: #5FC951;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #5FC951;
    padding: 14px 10px;
    width: 150px;
    position: relative;
    bottom: 40px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }

  .buttonSenha:hover {
    background-color: #3d7737;
    border-color: #3d7737;
  }



.subtitulo-padrao{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

/*reponsividade*/
@media (min-width: 620px) {
    .options-link {
      font-size: 1.4em;
    }
  }


@media (max-width: 100% - 100px) {
    .caixa-card {
        position: relative;
        left: 500px;

    } }

    @media (max-width:800px){
        .profile{
         width: 80%;
        }
    }    