@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*-----------body------------*/

body {
    margin: 0;
    border: 0;
    padding: 0;
    background-image: url(../assets/img/blur.svg);
    background-size: cover;
    background-color: rgb(2, 2, 2);
    font-family: Poppins;
    overflow-x: hidden;
}

#informations {
    margin-left: 13%;
    padding: 0 1.75%;
    height: auto;
    box-sizing: border-box;
}

/* Começo do menu dropdown */
.dropbtn {
    background-color: #4caf4f00;
    color: rgba(255, 255, 255, 0);
    padding: 10px;
    font-size: 16px;
    border: none;
    float: right;
    cursor: pointer;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    top: 200;
    background-color: #f9f9f96c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.842);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(137, 235, 58)}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e4100;
    position: relative;
    top: 10;
  }

/* Fim do dropdown */

/*-----------body------------*/


/* barra de rolagem, scroll */

::-webkit-scrollbar {
    background-color: #e1666600;
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(250, 250, 250, 0);
}


::-webkit-scrollbar-thumb {
    background-color: #ACFFC3;

}



/*menu de opçoes lateral */
#content {
    height: 100vh;
    width: 12%; 
    display: flex;
    flex-direction: column;
    border-right: 3px solid #A8D5A7;
    float: left;
    background-color: black;
    position: fixed;
}

#options {
    overflow: auto;
    height: 80vh;
}

#logoName {
    width: 80%;
    padding: 20px 0px 10px 0;
}

.font_tamanho {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
}

.item {
    padding: 15px 0 15px 0;
    text-align: center;
    cursor: pointer;
    color: white;
}

.item_color {
    color: #ffffff;
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.8));
}

hr {
    border: none;
    background-color: #A8D5A7;
    height: 2px;
    width: 100%;
}

.item img {
    width: 20px;
}
.item-img {
    width: 20px;
}
#logout {
    text-align: center;
}

#logout img {
    padding: 10px 0 10px 0;
    width: 40px;
    cursor: pointer;
}

/*  /menu de opçoes lateral */

/* ---header----*/
.header {
    padding: 20px 1.75% 0 3.75%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header img {
    width: 50px;
    margin-right: 10px;
}

.header strong {
    font-size: 35px;
    color: #ffffff;
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.8));
}

.bottom {
    margin-top: 5px;
    padding: 7px 0px 7px 14px;
    width: 256px;
    border-bottom: 1px solid #fdfdfd;
    text-transform: uppercase;
}

#repError {
    background-color: transparent;
    border: 2px #E16666 solid;
    border-radius: 8px;
    position: relative;
    right: 25px;
    padding: 0.7% 1.4%;
    color: white;
    cursor: pointer;
}

#user {
    float: right;
    width: 140px;
    padding-left: 20px;
    margin: 10px 0 0 0;
}

/* --- /header----*/

/*Container de informações*/

.container-boxes {
    width: 100%;
    margin: auto;
}

.aux-container-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    /* background: linear-gradient(133.84deg, #4E4E4E -16.04%, #333333 9.33%, #1A1A1A 32.02%, #1A1A1A 62.06%, #262626 87.42%, #4E4E4E 112.12%); */
    border: 3px solid #ACFFC3;
    border-radius: 16px;
    box-shadow: 2px 6px 15px 2px rgba(12, 10, 11, 0.8);
    margin: 20px;
    background-color: black;
}

#caixa {
    width: 270px;
    height: 200px;
    display: flex;
    box-shadow: 2px 6px 15px 2px rgba(12, 10, 11, 0,8);
}

.icone {
    color: white;
    text-align: center;
}

.icone i {
    color: rgba(255, 126, 120, 0.8);
    filter: drop-shadow(0px 0px 15px rgba(255, 126, 120, 0.8));
}

#iconeTwo i {
    color: rgba(244, 219, 87, 0.8);
    filter: drop-shadow(0px 0px 15px rgba(244, 219, 87, 0.8));
}

.critico {
    color: rgba(255, 126, 120, 0.8);
    filter: drop-shadow(0px 0px 15px rgba(255, 126, 120, 0.8));
}

.alerta {
    color: rgba(244, 219, 87, 0.8);
    filter: drop-shadow(0px 0px 15px rgba(244, 219, 87, 0.8));
}

.ok {
    color: rgba(56, 224, 174, 0.8);
    filter: drop-shadow(0px 0px 15px rgba(56, 224, 174, 0.8));
}

.boxContent {
    max-width: 95%;
    margin: 0 auto;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
}

.boxContent strong {
    color: white;
    padding-right: 150px;
}

.icon {
    width: 50px;
    height: 50px;
    padding-top: 15px;
    float: right;
}

.info_caixas p {
    font-weight: 800;
    font-size: 20px;
    position: static;
    text-align: center;
    text-transform: uppercase;
}

footer {
    height: 40px;
    width: 100%;
}
